:root {
	--main-font-color: #393939;
	--main-content-bg: #E5E5E5;
	--large-btn-color: #ff7934;
	--main-neutral-color: #ffffff;
}
body {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	color: var(--main-font-color);
}
h1 {
	font-size: 24px;
}
h2 {
	font-size: 20px;
}
h3 {
	font-size: 18px;
}
h4 {
	font-size: 16px;
}
h5 {
	font-size: 14px;
}
h6 {
	font-size: 12px;
}
.outer-container {
	min-width: 100vh;
}
.panel {
	padding: 25px;
	-webkit-box-shadow: 5px 0px 36px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: 5px 0px 36px -8px rgba(0,0,0,0.75);
	box-shadow: 5px 0px 36px -8px rgba(0,0,0,0.75);
	z-index: 9;
}
.panel__logo {
	max-width: 250px;
	width: 100%;
	margin-bottom: 150px;
}
.panel__heading,
.panel__list {
	margin-bottom: 25px;
}
.panel__list-item {
	margin-bottom: 15px;
}
.panel__list-item:last-of-type {
	margin-bottom: 50px;
}
.main-content {	
	background: var(--main-content-bg);
	padding: 0 25px;
}
.main-content__head {
	padding: 50px 0;
}
.main-content__pagination {
	padding: 50px 0;
}
.pagination__prev,
.pagination__next {
	margin: 0 50px;
}
.pagination__prev .icon {
	transform: rotate(180deg);
}
.pagination__next .icon {
	margin: 0 0 0 5px;
}
.pagination__item {
	margin: 0 5px;
}
.icon {
	margin-right: 5px;
}
.btn {
	display: block;
    text-align: center;
    padding: 0 20px;
    margin: 25px 0;
    border-radius: 100px;
    line-height: 45px;
    background: var(--large-btn-color);
    color: var(--main-neutral-color);
    -webkit-box-shadow: 0px 0px 40px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 40px -8px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 40px -8px rgba(0,0,0,0.75);
}
.lang-btn {
	margin: 0 0 0 5px;
}