body {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	color: #393939;
}
h1 {
	font-size: 24px;
}
h2 {
	font-size: 20px;
}
h3 {
	font-size: 18px;
}
h4 {
	font-size: 16px;
}
h5 {
	font-size: 14px;
}
h6 {
	font-size: 12px;
}
.mobile-menu {
	display: none;
}
.outer-container {
	min-height: 100vh;
	overflow: hidden;
}
.panel {
	min-height: 100vh;
	min-width: 250px;
	padding: 25px;
	-webkit-box-shadow: 2px 0px 64px -16px rgba(0,0,0,0.75);
	box-shadow: 2px 0px 50px -16px rgba(0,0,0,0.75);
	background: #fff;
	z-index: 9;
	-webkit-transition: .7s;
	-o-transition: .7s;
	transition: .7s;
}
.panel__logo {
	max-width: 250px;
	width: 100%;
	margin-bottom: 120px;
}
.panel__heading,
.panel__list {
	margin-bottom: 25px;
}
.panel__list-item {
	margin-bottom: 15px;
}
.panel__list-item:last-of-type {
	margin-bottom: 120px;
}
.main-content {	
	background: #efefef;
	padding: 0 25px;
}
.main-content__head {
	padding: 50px 0;
}
.main-content__pagination {
	padding: 50px 0;
}
.pagination__prev,
.pagination__next {
	margin: 0 50px;
}
.pagination__prev .icon {
	-webkit-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	        transform: rotate(180deg);
}
.pagination__next .icon {
	margin: 0 0 0 10px;
}
.pagination__item {
	margin: 0 5px;
}
.icon,
.link-btn {
	margin-right: 10px;
}
.btn {
	display: block;
    text-align: center;
    border-radius: 100px;
    border: 1px solid #ff7934;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.btn__large {
	padding: 0 20px;
    margin: 25px 0;
    line-height: 45px;
    background: #ff7934;
    color: #ffffff;
    -webkit-box-shadow: 0px 0px 40px -8px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 40px -8px rgba(0,0,0,0.75);
}
.btn__large--hover:hover {
	background: transparent;
    color: #ff7934;
    -webkit-box-shadow: none;
            box-shadow: none;
}
.btn__small {
	padding: 6px 14px;
	margin: 6px auto;
	color: #ff7934;
	background: transparent;
}
.btn__small--hover:hover {
	background: #ff7934;
	color: #ffffff;
}
.link-btn {
	color: #a5a5a5;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}
.link-btn--hover:hover {
	color: #ff7934;
}
.link-btn--active {
	color: #6760b9;
	font-weight: 700;
}
@media screen and (max-width: 980px) {
	.mobile-menu {
		display: block;
	}
	.panel--hidden {
		position: fixed;
	    left: -2000px;
	    height: 100vh;
	    overflow: scroll;
	}
	.js-panel--show {
		left: 0;
	}
    body {
	font-size: 10px;
	}
	h1 {
		font-size: 20px;
	}
	h2 {
		font-size: 18px;
	}
	h3 {
		font-size: 16px;
	}
	h4 {
		font-size: 14px;
	}
	h5 {
		font-size: 12px;
	}
	h6 {
		font-size: 10px;
	}
}
@media screen and (max-width: 768px) {
	.btn__small {
		display: inline-block;
	}
}
@media screen and (max-width: 400px) {
	.panel {
		min-width: 200px;
	}
	.panel__logo {
		max-width: 200px;
	}
	.main-content__head {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
   	 	-webkit-box-align: end;
   	 	-webkit-align-items: flex-end;
   	 	    -ms-flex-align: end;
   	 	        align-items: flex-end;
	}
	.link-btn,
	.mobile-menu {
		margin: 0 0 0 10px
	}
	.main-content__heading {
		font-size: 18px;
		margin: 10px 0 15px;
	}
}