:root {
  --table-header-bg: #6760b9;
  --table-header-font-color: #ffffff;
}

.table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    font-size: 12px;
    border-radius: 16px;
    -webkit-box-shadow: 0px 0px 64px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 64px -16px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 64px -16px rgba(0,0,0,0.75);
}
.table__head .table__row {
  background: var(--table-header-bg);
  color: var(--table-header-font-color);
  border: none;
}
.table th,
.table__col {
    vertical-align: middle;
    padding: 45px 5px;
    text-align: center;
}
.table th {
  transform: rotate(-45deg);
}
.table__row {
    background: var(--table-header-font-color);
    border: 1px solid #ddd;
    padding: 35px;
}
@media screen and (max-width: 980px) {
    .panel {
      position: absolute;
      left: -2000px;
    }
}
@media screen and (max-width: 768px) {
    .table {
        box-shadow: none;
        border: 0;
    }
    .table__head {
      display: none;
      /*border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;*/
    }
    .table__row {
        display: block;
        border-top: 10px solid var(--table-header-bg);
        margin-bottom: 50px;
        -webkit-box-shadow: 0px 0px 64px -16px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 64px -16px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 64px -16px rgba(0,0,0,0.75);
    }
    .table__col {
        border-bottom: 1px solid #ddd;
        display: block;
        text-align: right;
    }
    .table__col::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    .table__col:last-child {
        border-bottom: 0;
    }
}