.table__header {
  color: #fefefe;
  display: none;
}
.table__body {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}
.table__col {
  background-color: #fefefe;
  display: block;
  padding: .75rem 1rem;
  width: 100%;
}
.table__col:first-child {
  background-color: #222222;
  color: #fefefe;
  text-align: center;
}
.table__col:first-child::before {
  display: none;
}
.table__row {
  display: flex;
  flex-flow: column wrap;
  flex: 0 0 100%;
  padding: 1.25rem 1rem;
  max-width: 100%;
  width: 100%;
}
@media screen and (min-width: 600px) {
  .table__row {
    flex: 0 0 50%;
    max-width: 50%;
    width: 100%;
  }
}
@media screen and (min-width: 900px) {
  .table {
    background-color: #efefef;
  }
  .table__header {
    display: table-header-group;
  }
  .table__header th {
    background-color: #222222;
    padding: 1rem;
    text-align: center;
  }
  .table__body {
    display: table-row-group;
  }
  .table__col {
    background-color: transparent;
    display: table-cell;
    padding: 1rem;
    text-align: center;
    width: auto;
  }
  .table__col::before {
    display: none;
  }
  .table__col:first-child {
    background-color: transparent;
    color: inherit;
  }
  .table__row {
    display: table-row;
    margin: 0;
  }
  .table__row:nth-child(odd) {
    background-color: #fefefe;
  }
  .table__row:nth-child(even) {
    background-color: #efefef;
  }
}
