.hamburger__container {
  width: 25px;
  height: 25px;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  cursor: pointer;
}
.hamburger__bar {
    width: 25px;
    height: 5px;
    background: #ff7934;
    margin-bottom: 5px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.hamburger__top--toggle {
  -webkit-transform: translate(0, 10px) rotate(45deg);
      -ms-transform: translate(0, 10px) rotate(45deg);
          transform: translate(0, 10px) rotate(45deg); }

.hamburger__middle--toggle {
  -webkit-transform: translate(15px);
      -ms-transform: translate(15px);
          transform: translate(15px);
  opacity: 0; }

.hamburger__bottom--toggle {
  -webkit-transform: translate(0, -10px) rotate(-45deg);
      -ms-transform: translate(0, -10px) rotate(-45deg);
          transform: translate(0, -10px) rotate(-45deg); }

.rotate {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg); }
